<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
       <!--启用驼峰命名 映射 数据库中的下划线命名 -->
       <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
    <typeAliases>
        <!--起别名-->
       <typeAlias type="com.study.blog.entity.User" alias="user"/>
    </typeAliases>
</configuration>