<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--通过命名空间映射到接口上-->
<mapper namespace="com.study.blog.repository.AuthorityMapper">

    <select id="getAuthority" resultType="com.study.blog.entity.Authority">
        select authority_id ,authority_name  FROM authority where authority_id=#{id}
    </select>

    <select id="getAuthorityList" resultType="com.study.blog.entity.Authority">
        select authority_id,authority_name
        FROM authority
        WHERE authority_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <!--
    <sql id="selectUserWithoutPassword">
        select
        u.id,u.name,u.email,u.username,u.avatar,
        a.authority_id,a.authority_name
        from user u
        LEFT OUTER JOIN user_authority ua ON ua.user_id=u.id
        LEFT OUTER JOIN authority a ON a.authority_id=ua.authority_id
        where uid=?
    </sql>

    -->
</mapper>